@model ChitChat.Models.Chat

@{
    ViewData["Title"] = "Create";
}

<div class="register-form" style="color:white">
    <h1> Create a new chat </h1>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-input">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="ChatContent"></label>
                <input asp-for="ChatContent" />
                <span asp-validation-for="ChatContent" class="text-danger"></span>
            </div>
            <div class="form-input">
                <input type="submit" value="Create" class="register-button" />
            </div>
        </form>

        <div style="color:white">
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
