@model ChitChat.Models.Chat

@{
    ViewData["Title"] = "Edit";
}



<div class="login-form" style="color:white">
    <h1>Edit Chat</h1>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-input">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="ChatContent"></label>
                <input asp-for="ChatContent" />
                <span asp-validation-for="ChatContent" class="text-danger"></span>
            </div>
            <div class="form-input">
                <input type="submit" value="Save" class="login-button" />
            </div>
        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
