@model ChitChat.Models.User

@{
    ViewData["Title"] = "Create";
}

<div class="register-form" style="color:white">
    <h1>Registration Page</h1>
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-input">
                <label asp-for="Username"></label>
                <input asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-input">
                <input type="submit" value="Register" class="register-button" />
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error </div>
        }
        <div>
            Already registered? Click <a asp-action="Login">here</a> to Log in
        </div>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
